body { font-family: 'Roboto Mono', 'Hack', 'Andale Mono', monospace; font-size: 90%; }
a:link { color: #3465a4; text-decoration: none; }
a:visited { color: #729fcf; text-decoration: none; }
a:active { color: #ce5c00; text-decoration: none; background-color: #eeeeec}
a:hover { color: #f57900; text-decoration: none; }
@media (prefers-color-scheme: dark) {
  body { background-color: #121212; color: #b0bec5; }
  a:link { color: #90caf9; }
  a:visited { color: #bbdefb; }
  a:hover { color: #ffcc80; }
  a:active { color: #ffcc80; background-color: #121212; }
}
pre { font-family: 'Roboto Mono', 'Hack', 'Andale Mono', monospace; }
table.list {
width: 90%;
margin-left: 5%;
margin-right: 5%;
}
h1 {
font-size: 1.5em;
}
h2 {
font-size: 1.25em;
}
h3 {
font-size: 1em;
}
li {
font-size: 1em;
}
#navbar {
position: fixed;
top: 0px;
left: 10px;
right: 10px;
background-color: #fff;
border-bottom: solid 1px #ddd;
border-left: solid 1px #ddd;
border-right: solid 1px #ddd;
padding: 2px;
}
@media (prefers-color-scheme: dark) {
  #navbar {
    background-color: #121212;
    color: #b0bec5;
    border-bottom-color: #b0bec5;
    border-left-color: #b0bec5;
    border-right-color: #b0bec5;
  }
}
.firstcol {
float: left;
clear: left;
width: 50%;
white-space: nowrap;
}
.firstcol ul {
float: left;
clear: both;
padding-top: 0;
}
.secondcol ul {
float: left;
clear: both;
padding-top: 0;
}
.secondcol {
float: left;
clear: right;
width: 50%;
white-space: nowrap;
}
.firstcol ul li {
margin-left: 0;
}
.brokendoclink {
  color: #f44336;
}
@media (prefers-color-scheme: dark) {
  .brokendoclink {
    color: #ef9a9a;
  }
}
.goto {
float: right;
}
.breadcrumbs {
float: left;
}
@media only screen and (max-device-width: 480px) {
#navbar { position: static; border: none; }
.goto { position: static; float: none; }
.breadcrumbs { position: static; float: none; }
.firstcol { float: left; clear: left; width: 100%; }
.secondcol { float: left; clear: both; width: 100%; }
.firstcol ul { margin-top: 0; margin-bottom: 0; }
.secondcol ul { margin-top: 0; }
ul { padding-left: 1em; }
}
table {
border-width: 0px;
}
table td {
vertical-align: top;
}
table td.right {
text-align: right;
}
.content {
padding-top: 1em;
clear: both;
width: 100%;
}
.error {
color: #f44336;
font-weight: bold;
font-size: 1.2em;
}
@media (prefers-color-scheme: dark) {
  .error {
    color: #ef9a9a;
  }
}
div.footer {
float: left;
text-align: right;
color: #aaaaa8;
font-size: small;
clear: left;
margin-top: 2em;
width: 100%;
}

